<header class="navigation">
    <section class="header__wrap cine-container">
        <div class="logo-wrapper">
            <a href="#">
                <img src="../../assets/img/logo.png">
            </a>
        </div>
        <nav class="header__sitenav">
            <ul class="header__items">
                <li class="header__item"><a routerLink="/">ELENCO FILM</a></li>
                <li class="header__item"><a routerLink="/storico">STORICO</a></li>
            </ul>
        </nav>
    </section>
</header>