/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

body{
    margin:0;
    padding:0;
}
.cine-container{
    max-width:1224px;
    margin:0 auto;
    padding:0 20px;
}
h1,h2,h3,h4,h5,h6,p{
    margin:0;
    color:white;
}
body{
    background: black;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-form-field-subscript-wrapper{
    display: none !important;
}